<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encartgo | Editar cuenta</title>
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
</head>
<body>

    <div class="horizontal__homeNav">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/search">Buscar</a></li>
            <% if (client.bussiness){ %>
                <li><a href="/orders/<%= client.id %> ">Ordenes</a></li>
              <% } %>
            <% if (client.bussiness) { %>
              <li><a href="/show-store/<%= client.id %>">Mi Cuenta</a></li>
            <% } else { %>
              <li><a href="/show-profile/<%= client.id %>">Mi Cuenta</a></li>
            <% } %> 
        </ul>
    </div>

    <section class="user__edit">
         <form method="POST" enctype="multipart/form-data">
            <div class="user__form--nameInfo">
                <% if (store.image) { %> 
                  <div class="user--image">
                    <img src="/uploads/profiles/<%= store.image %> " width="400px" alt="profile image">
                  </div>
                <% } %> 
                <h3>Nombre</h3>
                <input class="input" name ="name" type="text" value="<%= store.name %> " placeholder="Name">
                <h3>Apellido</h3>
                <input class="input" name="lastName" type="text" value="<%= store.lastName %> " placeholder="Apellido">
            </div>
            <div class="user__form--mainInfo">
                <h3>Nombre Negocio</h3>
                <input class="input" name="bussiness" type="text" value=<%= store.bussiness %> placeholder="Nombre de tu negocio">
                <h3>Descripci贸n de tu negocio</h3>
                <input name="description" class="input" type="text" 
                    <% if (store.description) { %>
                        value=<%= store.description %> 
                    <% } %>                
                placeholder="Descripci贸n de tu Negocio">
                <h3>Direcci贸n</h3>
                <input name="address" class="input" type="text" values="<%= store.address %> " placeholder="Pon tu direcci贸n">
                <!-- <div class="user--adress"></div> -->
                <h3>Imagen de perfil</h3>
                <input class="input" type="file" name="image">
            </div>
            <button class="button" type="submit">Aceptar</button>
        </form>
    </section>

    <section class="nav__main">
        <nav class="nav">
            <div class="icon">
                <a href="/"><img src="../assets/HomeG.png" alt=""></a>
                <span>Inicio</span>
            </div>
            <div class="icon">
                <a href="/search"><img src="../assets/SearchG.png" alt=""></a>
                <span>Buscar</span>
            </div>
            <% if (client.bussiness) {%>
                <div class="icon">
                  <a href="/orders/<%= client.id %> "><img src="../assets/OrderG.png" alt=""></a>
                  <span>Ordenes</span>
              </div>
              <% } %>
            <div class="icon">
              <% if (client.bussiness) { %>
                <a href="/show-store/<%= client.id %>" ><img src="/assets/Profile.png" alt=""></a>
                <span>Mi Cuenta</span>
              <% } else { %>
                <a href="/show-profile/<%= client.id %> "><img src="/assets/Profile.png" alt=""></a>
                <span>Profile</span>
              <% } %> 
            </div>
        </nav>
    </section>
</body>
</html>