<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encartgo | Editar perfil</title>
    <link rel="stylesheet" href="/styles/css/styles.css">
</head>
<body>
    <section class="user__edit">
         <form method="POST" enctype="multipart/form-data">
            <div class="user__form--nameInfo">
                <% if (userDB.image) { %> 
                  <div class="user--image">
                    <img src="/uploads/profiles/<%= userDB.image %> " width="400px" alt="profile image">
                  </div>
                <% } %> 
                <h3>Nombre</h3>
                <input class="input" name ="name" type="text" value="<%= userDB.name %> " placeholder="Name">
                <h3>Apellido</h3>
                <input class="input" name="lastName" type="text" value="<%= userDB.lastName %> " placeholder="Apellido">
            </div>
            <div class="user__form--mainInfo">
                <h3>Nombre Negocio (si no tienes uno deja el campo vacío)</h3>
                <input class="input" name="bussiness" type="text" 
                    <% if (userDB.bussiness) { %>
                        value=<%= userDB.bussiness %> 
                    <% } %>
                placeholder="Nombre de tu negocio">
                <h3>Dirección</h3>
                <input name="address" class="input" type="text" values="<%= userDB.address %> " placeholder="Pon tu dirección">
                <div class="user--adress"></div>
                <h3>Imagen de perfil</h3>
                <input class="input" type="file" name="image">
            </div>
            <button class="button" type="submit">Aceptar</button>
        </form>
    </section>
</body>
</html>