<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/styles.css">
</head>
<body>
    <section class="home__main">
        <div class="horizontal__homeNav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/search">Buscar</a></li>
                <li><a href="">Ordenes</a></li>
                <% if (user.bussiness) { %>
                  <li><a href="/show-store/<%= user.id %>">Mi Cuenta</a></li>
                <% } else { %>
                  <li><a href="/show-profile/<%= user.id %>">Mi Cuenta</a></li>
                <% } %> 
            </ul>
        </div>
        <div class="home__direction__container">
            <span>Enviar a: </span>
            <p>Calle, colonia, número</p>
        </div>
        <section class="main__container">
            
            <h3>Cerca de ti</h3>
            <% if (stores.length) { %>
             <% stores.forEach(store => { %>
              <div class="carrosel--bigItem">
                <h3 class="bigItem--title"><%= store.name %> </h3>
                <p>Negocio</p>
                <div class="bigItem--details">
                    <span>Price</span>
                    <span>Categoría</span>
                </div>
            </div>
             <% }) %>
            <% } %>
            <div class="interest__container">
                <div class="carrosel--bigItem">
                    <h3 class="bigItem--title">Producto</h3>
                    <p>Negocio</p>
                    <div class="bigItem--details">
                        <span>Price</span>
                        <span>Categoría</span>
                    </div>
                </div>

                <div class="carrosel--bigItem">
                    <h3 class="bigItem--title">Producto</h3>
                    <p>Negocio</p>
                    <div class="bigItem--details">
                        <span>Price</span>
                        <span>Categoría</span>
                    </div>
                </div>

                <div class="carrosel--bigItem">
                    <h3 class="bigItem--title">Producto</h3>
                    <p>Negocio</p>
                    <div class="bigItem--details">
                        <span>Price</span>
                        <span>Categoría</span>
                    </div>
                </div>
            </div>
            
            <h3>Cerca de ti</h3>
            <div class="close__container">

                <div class="carrosel--bigItem">
                    <h3 class="bigItem--title">Producto</h3>
                    <p>Negocio</p>
                    <div class="bigItem--details">
                        <span>Price</span>
                        <span>Categoría</span>
                    </div>
                </div>

                <div class="carrosel--bigItem">
                    <h3 class="bigItem--title">Producto</h3>
                    <p>Negocio</p>
                    <div class="bigItem--details">
                        <span>Price</span>
                        <span>Categoría</span>
                    </div>
                </div>

                <div class="carrosel--bigItem">
                    <h3 class="bigItem--title">Producto</h3>
                    <p>Negocio</p>
                    <div class="bigItem--details">
                        <span>Price</span>
                        <span>Categoría</span>
                    </div>
                </div>
            </div>

            </div>
        </section>
    </section>

    <section class="nav__main">
        <nav class="nav">
            <div class="icon">
                <a href="/"><img src="../assets/HomeG.png" alt=""></a>
                <span>Inicio</span>
            </div>
            <div class="icon">
                <a href="/search"><img src="../assets/SearchG.png" alt=""></a>
                <span>Buscar</span>
            </div>
            <div class="icon">
                <a href="#"><img src="../assets/OrderG.png" alt=""></a>
                <span>Order</span>
            </div>
            <div class="icon">
              <% if (user.bussiness) { %>
                <a href="/show-store/<%= user.id %>" ><img src="/assets/ProfileG.png" alt=""></a>
                <span>Mi Cuenta</span>
              <% } else { %>
                <a href="/show-profile/<%= user.id %> "><img src="/assets/ProfileG.png" alt=""></a>
                <span>Profile</span>
              <% } %> 
            </div>
        </nav>
    </section>

</body>
</html>