<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encartgo | </title>
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
</head>
<body>
    
    <div class="horizontal__homeNav">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/search">Buscar</a></li>
            <% if (client.bussiness){ %>
                <li><a href="/orders/<%= client.id %> ">Ordenes</a></li>
              <% } %>
            <% if (client.bussiness) { %>
              <li><a href="/show-store/<%= client.id %>">Mi Cuenta</a></li>
            <% } else { %>
              <li><a href="/show-profile/<%= client.id %>">Mi Cuenta</a></li>
            <% } %> 
        </ul>
    </div>

    <section class="commerce__main">
        <% if (store.image) { %>
            <div class="commerceImg--container">
                <img src="/uploads/profiles/<%= store.image %>" alt="store image">
            </div>
        <% } else { %>
            <div class="commerceImg--container">
                <img src="/assets/food.jpg" alt="store image">
            </div>
        <% } %>
        <div class="commerceDescription--container">
            <div class="commerce--name__container">
                <h2><%= store.bussiness %> </h2>
                <% if (store.id === client.id) { %>
                    <a href="/edit-store/<%= store.id %> ">Editar Perfil.</a>
                <% } %>  
            </div>
            <div class="commerce--description">
                <h3>Descripción</h3>
                <p><%= store.description %> </p>
            </div>
            <div class="commerce--description">
                <h3>Dirección</h3>
                <p><%= store.address %> </p>
                <!-- <div class="user--adress"></div> -->
            </div>

                <div class="especialInstruction">
                    <form method="POST">
                        <h3>Realiza tu pedido</h3>
                        <input type="text" name="description" placeholder="Describe qué es lo que quieres pedir">
                        <button class="button" type="submit">Realizar pedido</button>
                    </form>
                </div>
        </div>
    </section>
    
    <section class="nav__main">
        <nav class="nav">
            <div class="icon">
                <a href="/"><img src="../assets/HomeG.png" alt=""></a>
                <span>Inicio</span>
            </div>
            <div class="icon">
                <a href="/search"><img src="../assets/SearchG.png" alt=""></a>
                <span>Buscar</span>
            </div>
            <% if (client.bussiness) {%>
                <div class="icon">
                  <a href="/orders/<%= client.id %> "><img src="../assets/OrderG.png" alt=""></a>
                  <span>Ordenes</span>
              </div>
              <% } %>
            <div class="icon">
              <% if (client.bussiness) { %>
                <a href="/show-store/<%= client.id %>" ><img src="/assets/Profile.png" alt=""></a>
                <span>Mi Cuenta</span>
              <% } else { %>
                <a href="/show-profile/<%= client.id %> "><img src="/assets/ProfileG.png" alt=""></a>
                <span>Profile</span>
              <% } %> 
            </div>
        </nav>
    </section>

</body>
</html>